<div layout layout-align="center center">
	<md-card>
		<md-card-title>
			<md-card-title-text>
				<span class="md-headline">RSVP</span>
			</md-card-title-text>
		</md-card-title>
		
		<md-card-content>
			<p>Please use this nifty tool to RSVP to the wedding by March 1st.</p>
	
			<p>There are no food options to choose from because we are having a delicious brunch buffet and you can have whatever you want a taste of (and trust us, you'll want a little bit of everything).</p> 
	
			<p>We are also taking requests for music to jam to. So if there is anything you would love to hear, let us know and we'll see if we can work it in.</p> 
	
			<md-input-container>
		        <label>First Name</label>
		        <input ng-model="vm.firstName">
			</md-input-container>
			
			<md-input-container>
		        <label>Last Name</label>
		        <input ng-model="vm.lastName">
			</md-input-container>
			
			<md-button class="md-primary" ng-click="vm.find()">Search</md-button>
			
			<h4>{{vm.result.id}}</h4>
			<h4 ng-repeat="person in vm.party">{{person.id}}</h4>
		</md-card-content>
	</md-card>
</div>