<md-content layout="column" layout-padding>
	<md-card flex="auto">
		<md-card-title>
			<md-card-title-text>
<!-- 				<span class="md-headline">RSVP</span> -->
<img style="margin: auto; margin-top: 20px; max-width: 100%; max-height: 100%; height: 200px !important;" alt="Lush mango tree" src="img/RSVPtitle.svg">
				
			</md-card-title-text>
		</md-card-title>
		
		<md-card-content>
			<p>Please use this nifty tool to RSVP to the wedding by March 1st.</p>
	
			<p>There are no food options to choose from because we are having a delicious brunch buffet and you can have whatever you want a taste of (and trust us, you'll want a little bit of everything).</p> 
	
			<p>We are also taking requests for music to jam to. So if there is anything you would love to hear, let us know and we'll see if we can work it in.</p> 
	
			<md-input-container>
		        <label>First Name</label>
		        <input ng-model="vm.firstName">
			</md-input-container>
			
			<md-input-container>
		        <label>Last Name</label>
		        <input ng-model="vm.lastName">
			</md-input-container>
			
			<md-button id="search-btn" class="md-primary" ng-click="vm.find()">Search</md-button>
		</md-card-content>
	</md-card>
	
	<md-card id="party-card" data-party="{{vm.found}}" ng-style="partCard" style="padding: 0px;">
		<md-card-title>
			<md-card-title-text>
				<span class="md-headline">{{vm.result.groupName}}</span>
			</md-card-title-text>
		</md-card-title>
		
		<md-divider></md-divider>
		
		<md-card-content ng-repeat-start="person in vm.result.party track by person.id" ng-click="vm.showThing(person)">
			<div class="" style="clear: both;" flex>
				<span>{{person.value}}</span>
				<md-icon style="float:right;" md-svg-icon="img/icons/expand.svg"></md-icon>
			</div>
		</md-card-content>
		
		<md-divider ng-show="person.expanded"></md-divider>
		<md-card-content id="{{person.id}}" class="sub-card-content" ng-style="vm.test[person.id]">
			<div layout="column" ng-hide="person.attending" class="fade">
				<span>Are you attending?</span><br />
				<div layout layout-align="end">
					<md-button class="md-primary" ng-click="person.attending = true;">Attending</md-button>
					<md-button class="md-primary" ng-click="person.attending = false;">Not Attending</md-button>
				</div>
			</div>
			
			<div layout="column" ng-show="person.attending" class="fade">
				<div>
					<span>We'll see you mofo's at the party!</span><br/>
					<span class="md-caption">Edit Response</span>
				</div>
				
				<div layout>
					<md-card class="food-card" md-ink-ripple>
						<md-card-title>
							<md-card-title-text>
								<span class="md-title">Chicken Tings</span>
							</md-card-title-text>
						</md-card-title>
			
						<md-card-content>
							<span class="md-caption">Some description about tings</span>
						</md-card-content>
					</md-card>
					
					<md-card class="food-card" md-ink-ripple>
						<md-card-title>
							<md-card-title-text>
								<span class="md-title">Beef Tings</span>
							</md-card-title-text>
						</md-card-title>
			
						<md-card-content>
							<span class="md-caption">Some description about tings</span>
						</md-card-content>
					</md-card>
				</div>
			</div>
		</md-card-content>
		
		<md-divider ng-if="!$last" ng-repeat-end></md-divider>
	</md-card> 
</md-content>