<form name="settingsForm">
	<md-content layout="column" layout-padding layout-fill ng-cloak>
		<md-card ng-if="!settingsCtrl.deviceConnected">
			<md-card-title>
				<md-card-title-text>
					<span class="setting-headline">Bluetooth &amp; Device Settings</span>
				</md-card-title-text>
			</md-card-title>
			
			<md-list-item>
				<md-icon md-svg-src="img/icons/device/bluetooth.svg"></md-icon>
				<p>Bluetooth</p>
				<md-switch 
					class="md-primary" 
					ng-model="settingsCtrl.btEnabled" 
					ng-change="settingsCtrl.enableBluetooth()"
					ng-disabled="settingsCtrl.disableBTBtn">
				</md-switch>
			</md-list-item>
		
			<md-card-content ng-if="settingsCtrl.btEnabled && !settingsCtrl.enabling">				
				<md-input-container style="width: 100%;">
					<label>Discovery Time (seconds)</label>
					<input required name="discoveryTimeout" type="number" step="1" min="1" max="10" style="border-color: rgba(0,0,0,0.12);"
						ng-model="settingsCtrl.discoveryTimeout" ng-change="settingsCtrl.set('discoveryTimeout', settingsCtrl.discoveryTimeout)" />
					
					<div class="hint">How long would you like to scan for devices?</div>
					<div ng-messages="settingsForm.discoveryTimeout.$error" md-auto-hide="false">
						<div ng-message="min">Must be at least 1 second</div>
						<div ng-message="max">Must be less than 10 seconds</div>
						<div ng-message="required">This is required</div>
					</div>
				</md-input-container>
				
				<md-button style="width: 100%;"
					class="md-raised md-primary" 
					ng-disabled="settingsCtrl.disableScanBtn" 
					ng-click="settingsCtrl.scanDevices()">
					{{ settingsCtrl.scanBtnText }}
				</md-button>
			</md-card-content>
				
			<div ng-if="settingsCtrl.scanning" style="padding-bottom: 16px;">
				<md-progress-circular style="margin: auto;" md-mode="indeterminate"></md-progress-circular>
			</div>
				
			<div ng-if="settingsCtrl.devicesFound()" ng-animate="'animate'">
				<md-divider></md-divider>
				
				<md-card-title>
					<md-card-title-text>
						<span class="setting-headline">Discovered Devices</span>
					</md-card-title-text>
				</md-card-title>
				
				<md-card-content>
					<md-list-item class="devices" ng-animate="'animate'" ng-repeat="device in settingsCtrl.unpairedDevices" ng-click="settingsCtrl.pairDevice(device)">
						<p class="meta-title">{{ device.name }}</p>
						<p class="meta-data"><b>UUID</b>: {{ device.uuid }}</p>
					</md-list-item>
				</md-card-content>
			</div>
		</md-card>
		
		<md-card ng-if="settingsCtrl.deviceConnected">
			<md-card-title>
				<md-card-title-text>
					<span class="setting-headline">Paired Device</span>
				</md-card-title-text>
			</md-card-title>
			
			<md-list-item class="paired-device">
				<p>{{ settingsCtrl.deviceName() }}</p>
				<div layout layout-align="space-between start">
					<p class="meta-data"><b>UUID</b>: {{ settingsCtrl.deviceUUID() }}</p><br/>
					<p class="meta-data"><b>RSSI</b>: {{ settingsCtrl.deviceRSSI() }}</p><br/>
					<p class="meta-data"><b>Advertising</b>: {{ settingsCtrl.deviceAdvertising() }}</p>
				</div>
			</md-list-item>
		</md-card>

		<md-card>
			<md-card-title>
				<md-card-title-text>
					<span class="setting-headline">Generic Settings</span>
				</md-card-title-text>
			</md-card-title>
			
			<md-card-content>
				<md-input-container style="width: 100%;">
					<label>Units</label>
					<md-select ng-model="settingsCtrl.units" ng-change="settingsCtrl.set('units', settingsCtrl.units)">
						<md-option value="Lbs">Pounds (Lbs)</md-option>
						<md-option value="Kg">Kilograms (Kg)</md-option>
					</md-select>
				</md-input-container>
		
				<md-input-container style="width: 100%; margin-bottom: 0px;">
					<label>Set Timeout (seconds)</label>
					<input required name="setTimeout" type="number" step="1" min="5" max="60" style="border-color: rgba(0,0,0,0.12);"
						ng-model="settingsCtrl.setTimeoutInSec" ng-change="settingsCtrl.set('setTimeoutInMillis', settingsCtrl.setTimeoutInSec * 1000)" />
						
					<div class="hint">Time before set auto-completion</div>
					<div ng-messages="settingsForm.setTimeout.$error" md-auto-hide="false">
						<div ng-message="min">Must be at least 5 second</div>
						<div ng-message="max">Must be less than a minute</div>
						<div ng-message="required">This is required</div>
					</div>
				</md-input-container>
			</md-card-content>
		</md-card>
		
		<div id="paring-dialog" ng-if="settingsCtrl.pairing" layout="column" layout-align="center center">
			<md-backdrop class="md-opaque"></md-backdrop>
			<md-progress-circular class="md-accent" md-mode="{{settingsCtrl.pairing}}" md-diameter="96"></md-progress-circular>
		</div>
	</md-content>
</form>