<div id="main-page">
	<md-toolbar id="main-toolbar">
		<div class="md-toolbar-tools" layout layout-align="center center">
			<div hide-sm hide-xs>				
				<md-button aria-label="Settings" ng-click="vm.go('home')">
					<span>Home</span>
				</md-button>
	
				<md-button aria-label="Settings" ng-click="vm.go('ourStory')">
					<span>Our Story</span>
				</md-button>
	
				<md-menu md-offset="-10 64">
					<md-button aria-label="Details" ng-click="$mdOpenMenu($event)">
						<span>Details</span>
					</md-button>
	
					<md-menu-content width="2">
						<md-menu-item ng-repeat="item in vm.dropDownOptions">
			              <md-button ng-click="vm.go(item.state)"> <span md-menu-align-target>{{item.string}}</span></md-button>
			            </md-menu-item>
					</md-menu-content>
				</md-menu>
	
				<md-button aria-label="Settings" ng-click="vm.go('gettingThere')">
					<span>Getting There</span>
				</md-button>
	
				<md-button aria-label="Settings" ng-click="vm.go('registry')">
					<span>Registry</span>
				</md-button>
	
				<md-button aria-label="Settings" ng-click="vm.go('rsvp')">
					<span>RSVP</span>
				</md-button>
			</div>
			
			<md-button data-resizer hide-gt-sm class="md-icon-button" aria-label="Settings" ng-click="vm.toggleSideNav()" style="
			    position: absolute;
			    left: 30px;
			    top: 12px;
			">
				<md-icon style="fill:#FFFFFF;" md-svg-icon="img/icons/menu.svg"></md-icon>
			</md-button>
			
			<md-button data-resizer class="md-icon-button" aria-label="Contact Us" ng-click="vm.toggleMenu()" style="
			    position: absolute;
			    right: 30px;
			    top: 12px;
			">
				<md-icon style="fill:#FFFFFF;" md-svg-icon="img/icons/email.svg"></md-icon>
				<md-tooltip md-direction="bottom">
          Contact Us!
        </md-tooltip>
			</md-button>
		</div>
	</md-toolbar>
	
	<div hide-gt-sm style="
		    position: absolute;
		    /* height: 200px; */
		    left: 0;
		    top: 48px;
		    right: 0;
		">
		<div id="menu-bar">
			<div layout>
				<div class="menu" layout="column" flex="">
					<div class="active" flex="">Home</div>
					<div>Wedding Events</div>
					<div>Wedding Party</div>
					<div>Attire</div>
				</div>
				
				<div class="menu" layout="column" layout-align="center center" flex="">
					<div>Our Story</div>
					<div>Getting There</div>
					<div>Travel &amp; Accommodations</div>
					<div>RSVP</div>
				</div>
			</div>
		</div>
	</div>

	<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
		<md-toolbar class="md-theme-light">
			<h1 class="md-toolbar-tools">Menu</h1>
		</md-toolbar>
		
		<md-content layout-padding>
        	<md-list>
				<md-subheader class="md-no-sticky">Single Action Checkboxes</md-subheader>
				<md-list-item ng-repeat="option in vm.sideNavOptions" ng-click="vm.sideNavGo(option)">
					<p> {{ option }} </p>
				</md-list-item>
				<md-divider></md-divider>
			</md-list>
			
			<md-button ng-click="vm.toggleSideNav()" class="md-primary">
				Close Sidenav Right
			</md-button>
		</md-content>
	</md-sidenav>
    
    <div class="content" data-my-content>
      <div class="scroll">
        <ui-view id="animated"></ui-view>
      </div>
    </div>
</div>